[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "==2.9.12"
fortiosapi = {git = "http://git.solidex.minsk.by:3000/Solidex/fortiosapi"}
jmespath = "*"
textfsm = "*"

[dev-packages]

[requires]
python_version = "3.8"
